# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Avro tools
avro/avro-cpp
avro/avro-tools

# Misc
*.DS_Store
build
dist
*.egg-info
*.antlr
.vscode
*.ipynb_checkpoints/
pynb/**/.env
pynb/**/.venv
